.file-view{
    width: 120px;
}
.file-view .file-view-icon{
    display: block;
}
.file-view  span{
    display: block;
    word-wrap: break-word;
    white-space: normal;
    height: 40px;
    overflow: hidden;
}