{{ template "header.tmpl" }}
<div class="container-fluid p-t-15">
  <div class="row">
  <div class="col-lg-12">
   <div class="card">
          <header class="card-header"><div class="card-title">本地存储</div></header>
          <div class="card-body">
                 <div>
                     {{range .files}}
                      <a class="btn mdi mdi-48px mdi-harddisk">{{ .Abs }}</a>
                      {{end}}
          		  </div>
            <div>
          </div>
  </div>
  </div>
</div>
{{ template "footer.tmpl" }}